#root {
  width: 80%;
  margin: 0 auto;
}

body {
  color: lightslategray;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
    min-height: 100vh;
    flex-direction: column;
  
  }

  main {
    flex: 1 0 auto;
  }

header {
  background-color:rgb(171, 226, 223);
  height: 90px;
  color: lightslategray;
  text-align: right;
  padding: 20px;
}

footer {
  display:block;
  height: 90px;
  bottom: 0;
  width: 100%;
  background-color: rgb(171, 226, 223);
  color: lightslategray;
  text-align: center;
  
    
 
  
  }

  a {
    color: rgb(99, 118, 202);
  }

 h1 {
   text-align: center;
   padding-top: 20px;
 }

 h2 {
  text-align: center;
  padding-top: 20px;
}