#root {
  width: 80%;
  margin: 0 auto;
}

body {
  color: lightslategray;
  margin-left: 30px;
  margin-right: 30px;
  
  }

header {
  background-color: rgb(171, 226, 223);
  height: 90px;
  color: lightslategray;
  text-align: right;
  padding: 20px;
}

footer {
  position: fixed;
  height: 70px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(171, 226, 223);
  color: lightslategray;
  text-align: center;
  padding-top: 15px;
  
  }

  a {
    color: rgb(87, 114, 233);
  }

 h1 {
   text-align: center;
   padding-top: 20px;
 }

 h2 {
  text-align: center;
  padding-top: 20px;
}